.jumbotron {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsIroARx6MEviPofM0dqOlWW4wokfhhGOOGPdhkcVcB-ceS3CAHg);
  height: 200px;
  border: 2px solid black;
}
body {
  background-color: #FFA833;
  border-color: black;
  border-width: 2px;
}

.panel {
  border-color: black;
  font-style: italic;
  padding: 5px
}
